<h1>Welcome,fella!</h1>

<%=params.inspect%>

<% if current_user.present? %>

	<%=link_to "Add New Link",new_link_path%>

	<ul>
		<% @links.each do |link|%>
			<li><%= link_to link.title,link.url %> | <%= link_to "comments", link %></li>
		<%end%>
	</ul>

	<%= will_paginate @links %>
<%end%>	