<h1>Welcome,fella!</h1>


<% if current_user.present? %>

	<%=link_to "Add New Link",new_link_path%>

<%end%>	
	<ul>
		<% @links.each do |link|%>
			<li>
				<%if current_user && current_user.votes.where(:link_id => link.id, :up => true).present?%>
					*
				<%elsif current_user.present?%>
					<%= link_to "+",votes_path(:vote=>{:link_id => link.id,:up=> TRUE}), :method => :post %> 
				<%end%>

				<%if current_user && current_user.votes.where(:link_id => link.id, :up => false).present?%>
					*
				<%elsif current_user.present?%>
					<%= link_to "-",votes_path(:vote=>{:link_id => link.id,:up=> FALSE}), :method => :pos%>  
				<%end%>

				Votes: <%= link.votes.where(:up => true).count - link.votes.where(:up => false).count %>
				<br>
				<%= link_to link.title,link.url %> | <%= link_to "comments", link %>
			</li>
		<%end%>
	</ul>

	<%= will_paginate @links %>
